---
  threads: 100
  targets: "/opt/stackstorm/static/webui/pinglist.txt"
  output: "ping.txt"
  timeout: 1
  count: 1
  url: "1.1.1.1:8086"
  username: "influxdb"    
  password: "password"  
  db: "influxdb"
  quantile: "0.75"
    